<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <div class="main-content">

         {{>header}}
         <img id="potrait" src="/img/pic.jpg" alt="">
         <p>This site was crated by Vivek Negi. It uses data from mapbox.com and darksky.net! </p>

    </div>
   
{{>footer}}


</body>


</html>